# GitHub Packages registry per @giovannimirulla scope
# Il token viene letto dalla variabile NODE_AUTH_TOKEN su Vercel
@giovannimirulla:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
